<div>
    <h2>Formulario de productos</h2>
    <form method="post" action="/productos">

    <div class="mb-3">
        <label>Nombre</label>
        <input type="text" name="Name">
    </div>
    <div class="mb-3">
        <label >Precio</label>
        <input type="text" name="Price">
    </div>
    <div class="mb-3">
        <label>Foto URL</label>
        <input type="text" name="Url">
    </div>




    <button class="btn btn-primary"type="submit">Enviar</button>
    </form>

    <div class="row mt-2"><a href="http://localhost:8080/"><button class="btn btn-primary" >Ver Productos</button></a></div>



</div>